@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');
body, html{
    margin: 0;
    padding: 0;
}
body{
   font-family: 'Poppins', sans-serif;
    font-size: 14px;color: #868686;background: #ffffff;word-wrap: break-word;
}
b, strong{
    font-weight: 600;
}
/*MENU MAIN*/
.navbar_main{
	position: absolute;
    top: 40px;
    width: 100%;
    background: #1D1D1B;
    z-index: 12;
}
.navbar_content #navbarNavDropdown{
    position: relative;
}
.logo_main{
    position: absolute;
    left: 0;
    top: 0;
}
.logo_main img{
    width: 100%;
    max-width: 179px;
    background: #F4C500;
}
/*------LIS ULS--------*/
.navbar_content{
    padding: 0;
}
.navbar_content #navbarNavDropdown .navbar-nav>li>a{
    color: #F4C500;
    display: block;
    padding: 35px 20px;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    overflow: hidden;
}
.navbar_content #navbarNavDropdown .navbar-nav>li>a:before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #F4C500;
    transition: all ease 500ms;
}
.navbar_content #navbarNavDropdown .navbar-nav>li.active>a:before{
    bottom: 0;
}
.navbar_content #navbarNavDropdown .navbar-nav>li>a:hover:before{
    bottom: 0;
    transition: all ease 200ms;
}
/*-------------REDES MENU------------*/
.redes_menu{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0px,-20px);
    -webkit-transform: translate(0px,-20px);
    -moz-transform: translate(0px,-20px);
    -o-transform: translate(0px,-20px);
}
.redes_menu span{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    background: #F2F3EF;
    line-height: 41px;
    border-radius: 50%;
    font-size: 22px;
    color: #F4C500;
    transition: all ease 500ms;
}
.redes_menu span>a{
    display: block;
    border-radius: 50%;
    color: #1D1D1B;
}
.redes_menu span:hover{
    background: #F4C500;
    transition: all ease 500ms;
}
.logo_mobile{display: none;}
/*--------RESPONSIVE MENU----------*/
@media(max-width: 991px){
    /*---------LOGOS------------*/
    .logo_main,.redes_menu{
        display: none;
    }
    /*---------BARRA DEL MENU---------*/
    .navbar_content .navbar-collapse{
        background: #212121;
    }
    .navbar_content #navbarNavDropdown .navbar-nav>li>a {
        color: #fff;
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
        background: #F4C500;
        margin-top: -70px;
    }
    .logo_mobile{
        display: block;
    }
    .logo_mobile img{
        background: #F4C500;
        width: 100%;
        max-width: 150px;
    }

}

/*NAVBAR FIXED*/
.head-navfixed{
    position: fixed;
    top: 0;
}
/*INTER FOOTER*/
/*-------CONTENEDOR-----------*/
.sect_foot_info{
    background: #1D1D1B;
    padding: 50px 0;
}

/*---------TITULOS Y SUB-TITULOS-----------*/
.box_foot .box_head h4{
    color: #F4C500;
    font-weight: 600;
    font-size: 17px;
}
.box_foot .box_body p{
    color: #fff;
}
.box_foot .box_body p a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
/*-------BOTON DEL GMAIL-----------*/
.btn_email{
    display: block;
    border: 2px solid #F2F3EF;
    border-radius: 25px;
    text-decoration: none;
    padding: 5px;
    width: 180px;
    text-align: center;
    color: #F2F3EF;
    font-weight: 600;
    transition: all ease 500ms;
}
.btn_email:hover,
.btn_email:focus,
.btn_email:active{
    text-decoration: none;
    color: #1D1D1B;
    background: #F2F3EF;
    transition: all ease 500ms;
}
/*------------ICONOS - REDES------------*/
.list_redes_foot{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.list_redes_foot>li{
    display: inline-block;
    margin: 0 5px;
    width: 42px;
    height: 44px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 49%;
    border: 2px solid #fff;
}
.list_redes_foot>li>a{
    display: block;
    border-radius: 49%;
    color: #Fff;
    transition: all ease 500ms;
}
.list_redes_foot>li>a:hover{
    background: #fff;
    color: #1D1D1B;
    transition: all ease 500ms;
}
.sect_derechos{
    padding: 10px 0;
    background: #1D1D1B;
}
.sect_derechos p{
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}
.sect_derechos p span{
    color: #F4C500;
}
.sect_derechos p a{
    text-decoration: none;
    color: #fff;
}
@media(max-width: 991px){
    .box_foot{
        margin-bottom: 40px;
    }
}